  /*carte interactive
  Carole, Julien*/
  
  #cdf_map {
    height: 690px;
    width: 680px;
    margin-left: 3%;
  }

  #legend{
    border: solid black 2px;
    max-width: 180px;
    max-height: 235px;
    font-size: 10px;
    margin-bottom: 100px;
    padding-bottom: 20px;
  }

  h4{
    padding-left: 20px;
    font-size: 12px;
  }
  
  #gallery {
    margin-left: 3%;
    width: 1200;
    height: 2000;
  }
  
  img {
    width: 50%;
    height: 50%;
  }

  /*phototheque
  Odile, Aymeric*/
  .ui-dialog { 
    z-index: 1000 !important ;

  }
  .ui-front { 
    z-index: 1000 !important; 
  }

  /*admin
    David*/