  /*carte interactive
  Carole, Julien*/
  
  #cdf_map {

    height: 690px;
    width: 680px;

  }
  
  img {
    width:50%;
    height: 50%;
  }
}


  /*phototheque
  Odile, Aymeric*/
  /*admin
    David*/